/* general rules */
.pads{
  padding-top: 4rem ;
}
body{
  background: maroon;
}
h1{
  color: white;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: darkgray;
}
/* general rules */
#cerca{
  width: 90% !important;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-right: 10px;
}
.movie{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  float: left;
  width: calc((100% / 4) - 4rem);
  height: 400px;
  background: white;
}
.title{
  color: maroon;
}
.card{
  margin: 1rem;
}
.cGold{
  color: gold;
}

#films, #tvSeries{
 min-height: 30vh;
 max-height: 68vh;
 overflow-y: auto;
 padding: 2rem;
 margin-bottom: 2rem;
}