/* general rules */
.pads{
  padding-top: 4rem ;
}
body{
  background: black;
  padding: 0 2rem;
}
h1{
  color: white;
}
::-webkit-scrollbar {
  width: 6px;
}
li{
  padding-bottom: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(94, 93, 93);
  border-radius: 5px;
}
/* general rules */
/* header */
header{
  padding: 0.5rem 0;
}
header img{
  width: 40%;
}
/* header */
#cerca{
  width: 90% !important;
  padding: 0 1rem;
  font-size:0.9rem;
  border-radius: 10px;
  margin-right: 10px;
}
.movie{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  float: left;
  width: calc((100% / 4) - 4rem);
  height: 400px;
  background: white;
}
.title{
  color: maroon;
}
.card{
  margin: 1rem;
}
.cGold{
  color: gold;
}

#films, #tvSeries{
 min-height: 20vh;
 max-height: 60vh;
 overflow-x: auto;
 overflow-y: hidden;
 padding: 1rem 2rem;
 margin-bottom: 2rem;
}

/* card  */
.cardBody{
  width: 30rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  margin-left: 2rem;
  position: relative;
  overflow-y: auto;
}
.cardBody .box{
  display: none;
  background: rgba(0, 0, 0, 0.72);
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 2rem;
}